* {
  color:black;
  background: transparent;
  font-size: 14pt;
  font-family: serif;
}

@page {
  margin: 1in;
}

h1 {
  display:none;
}

h2 {
  color: black;
  font-size: 120%
}

p {
  font-size: 120%;
}

nav {
  display:none;
}

a {
  text-decoration: none;
}
